.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 28px 80px;
  width: 100%;
}

@media (max-width: 700px) {
  .app-content {
    padding: 0 14px 60px;
  }
}